/**
 * front-dev-practico
 * https://platzi.com/clases/3271-javascript-practico
 * Pull Request to -> https://github.com/platzi/curso-frontend-developer-practico
 * @author: Carlos Duarte
 * @email: hola@davdav.tech
 * @curo: https://platzi.com/clases/3271-javascript-practico
 * 
 * */
 /* Product Detail */
    #productDetail {
      width: 360px;
      padding-bottom: 24px;
      position: absolute;
      right: 0;
      -webkit-box-shadow: -2px 4px 4px 0 rgba(0,0,0,.25);
      box-shadow: -2px 4px 4px 0 rgba(0,0,0,.25);
      z-index: 35;
      animation: fadeMenu .75s;
    }
    .product-detail-close {
      background: var(--white);
      width: 14px;
      height: 14px;
      position: absolute;
      top: 24px;
      left: 24px;
      z-index: 2;
      padding: 12px;
      border-radius: 50%;
    }
    .product-detail-close:hover {
      cursor: pointer;
      background: var(--dark-green);
    }
    #productDetail > img:nth-child(2) {
      object-fit: cover;
      border-radius: 0 0 20px 20px;
    }
    #productDetail .product-info {
      margin: 20px 20px 0 20px;
    }
    #productDetail .product-info p:nth-child(1) {
      font-weight: bold;
      font-size: var(--md);
      margin-top: 0;
      margin-bottom: 4px;
    }
    #productDetail .product-info p:nth-child(2) {
      color: var(--very-light-pink);
      font-size: var(--md);
      margin-top: 0;
      margin-bottom: 16px;
    }
    #productDetail .product-info p:nth-child(3) {
      color: var(--very-light-pink);
      font-size: var(--sm);
      margin-top: 0;
      margin-bottom: 16px;
    }
    .primary-button {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
      transition: background-color  .25s ease-in-out;
    }

    .primary-button:hover {
      background-color: #b7ebbe;
    }

    .add-to-cart-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* Product List */
    .cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, 240px);
      gap: 26px;
      place-content: center;
      margin-top: 20px;
    }
    .product-card {
      width: 240px;
    }

    .product-card:hover{
    }

    .product-card:hover img{
      opacity: 1;
    }

    .product-card img {
      width: 240px;
      height: 240px;
      border-radius: 20px;
      object-fit: cover;
      cursor: pointer;
      opacity: 0.8;
      transition: opacity .25s ease-in-out;
    }
    .product-card .product-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;
    }
    .product-card .product-info figure {
      margin: 0;
    }
    .product-card .product-info figure img {
      width: 35px;
      height: 35px;
    }

    .product-card:hover .product-info figure img {
      animation: bounce 0.5s ease-in-out;
    }

    .product-card .product-info figure img:hover {
      animation: bounce 0.5s ease-in-out;
    }

    .product-card .product-info div p:nth-child(1) {
      font-weight: bold;
      font-size: var(--md);
      margin-top: 0;
      margin-bottom: 4px;
    }
    .product-card .product-info div p:nth-child(2) {
      font-size: var(--sm);
      margin-top: 0;
      margin-bottom: 0;
      color: var(--very-light-pink);
    }

    .product-cart-remove {
      cursor: pointer;
      background-color: #f88a8a;
      width: 22px;
      height: 22px;
      border-radius: 11px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #7e6666;
      opacity: 0.5;
    }
    .product-cart-remove:hover{opacity: 1;}

    /* Medias querys */
    @media (min-width: 641px) {
      #productDetail{
      }

      #productDetail > img:nth-child(2) {
        width: 100%;
        height: 360px;
      }
    }

  /* Medias querys */
    @media (max-width: 640px) {
      #productDetail{
        width: 100%;
      }
      #productDetail > img:nth-child(2) {
        width: 100%;
        height: 280px;
      }
    }
