:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  *{
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
  nav {
    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
    background-color: var(--white);
  }
  .menu {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 4px;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .item-desktop{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
  .item-desktop:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    cursor: pointer;
  }
  .navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
  }
  .navbar-shopping-cart {
    position: relative;
    cursor: pointer;
  }
  .navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop-menu {
    display: block;

    position: absolute;
    top: 60px;
    right: 58px;
    z-index: 1000;

    background: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 0 0 6px 6px;
    padding: 20px 20px 0 20px;
  }
  .desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .desktop-menu ul li {
    text-align: end;
  }
  .desktop-menu ul li:nth-child(1),
  .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
  }
  .desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
  }
  .desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
  }
  .desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }
  /*========= MENU MOBILE =========*/
  .mobile-menu {
    display: block;
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--white);
  }
  .item-mobile {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding: 4px 24px 4px 0;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }
  #close-mobile-menu{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px
  }
  .aside-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 8px 0px 10px 1px #aaaaaa;
    width: 360px;
    height: calc(100vh - 61px);
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 61px;
    z-index: 10;
  }
  .product-detail {
    padding: 24px;
  }
  .my-cart {
    padding: 0 24px 24px 24px;
  }

  .product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #858585;
  }
  .product-detail-close:hover {
    cursor: pointer;
  }
  .product-detail > img:nth-child(2) {
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 16px;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: #eceff1;
    border-radius: 8px 8px 20px 20px;
    margin: 0 auto;
  }
  .product-info {
    margin: 24px 12px 0 12px;
  }

  .product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  .product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
  }


  .title-container {
    display: flex;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .product-detail__checkout{
    margin-top: auto;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    box-shadow: 0 1px #999;

  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 26px;
    place-items: center;
    padding: 18px 24px;
    padding-right: 24px;
    width: 100%;
    transition: padding-right 1s ease-out;

  }
  .cards-container--aside-open {
    padding-right: 384px;
  }
  .product-card {
    width: 240px;
  }
  .product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: #f7f7f7;
  }
  .product-card__image {
    padding: 16px;

  }
  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: auto;
  }
  .add-to-cart-button:active  {
    background-color: var(--hospital-green);
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
  .product-card img:hover {
    scale: 1.01;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .product-info-cart{
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 0 0 0;
    height: 100%;
    justify-content: flex-start;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
  }


  /*==== Modificadores ====*/
  .inactive{
    display: none;
  }
  .no-scroll{
    overflow: hidden;
  }
  .item-active{    
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
  }
  /*=== Media Quries ====*/
  @media (min-width: 993px) {
    .mobile-menu{
        display: none;
    }
  }
  @media (max-width: 992px) {
    .menu {
      display: block;
    }
    .navbar-left ul, .desktop-menu, .navbar-email {
      display: none;
    }
    .aside-content{
      display: flex;
      flex-direction: column;
      padding: 24px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      /* overflow-x: hidden; */
      /* overflow-y: scroll; */
      background: var(--white);
      box-shadow: none;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .inactive {
      display: none;
  }
  }