/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.inactive {
  display: none;
}

/* General Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.navbar__menu {
  display: none;
}

.navbar__logo {
  width: 100px;
}

.navbar__left {
  display: flex;
}

.navbar__left__ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 12px;
}

.navbar__left__links {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navbar__left__links:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar__right__ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar__right__links {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navbar__right__links:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar__email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;
  cursor: pointer;
}

.navbar__shopping__cart {
  position: relative;
  cursor: pointer;
}

.navbar__shopping__cart--number {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu on mobile and desltop devices */

.desktop__menu {
  position: absolute;
  top: 60px;
  right: 60px;
  background-color: var(--white);
  width: 150px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop__menu__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop__menu__li {
  text-align: end;
  
}

.desktop__menu__li:nth-child(1),
.desktop__menu__li:nth-child(2) {
  font-weight: bold;
}

.desktop__menu__li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop__menu__links {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.mobile__menu {
  background-color: var(--white);
  position: absolute;
  top: 60px;
  padding: 24px;
  width: 100%;
  left: 0;
}

.mobile__menu__ul {
  margin: 24px 0 0;
  list-style: none;
}

.mobile__menu__ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile__menu__li {
  margin-bottom: 24px;
}

.mobile__menu__links {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}

.sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}

/* Aside Product and shopping cart */

.aside__product {
  background-color: var(--white);
  width: 360px;
  padding: 12px 24px;
  position: absolute;
  right: 0;
}

.aside__product__title--container {
  display: flex;
  margin-bottom: 15px;
}

.aside__product__icon {
  transform: rotate(180deg);
  margin-right: 14px;
}

.aside__product__title {
  font-size: var(--lg);
  font-weight: bold;
}

.shopping__cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shopping__cart__img--container {
  margin: 0;
}

.shopping__cart__img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping__cart__product__name:nth-child(2) {
  color: var(--very-light-pink);
}

.shopping__cart__product__price:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 12px 24px;
}

.order__total__container {
  display: flex;
  flex-direction: column;
}

.order__total {
  font-size: var(--md);
  font-weight: bold;
}

.order__price {
  text-align: end;
  font-weight: bold;
}

.checkout__button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.checkout__button:hover {
  background-color: green;
}

/* Product list */

.product__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 20px;
}

.product__card {
  width: 240px;
}

.product__card__img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.product__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.product__info__price {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product__info__name {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

.product__info__icon--container {
  margin: 0;
}

.product__info__icon {
  width: 35px;
  height: 35px;
}

/* Product detail */

.product__detail {
  width: 360px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
  background-color: var(--white);
}

.product__detail__close {
  background: var(--white);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
}

.product__detail__close:hover {
  cursor: pointer;
}

.product__detail__img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

.product__detail__info {
  margin: 24px 24px 0 24px;
}

.product__detail__price {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product__detail__name {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}

.product__detail__text {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}

.product__detail__button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}