*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }


/*Variables*/
$color--white: #FFFFFF;
$color--black: #000000;
$color--very-light-pink: #C7C7C7;
$color--text-input-field: #F7F7F7;
$color--hospital-green: #ACD9B2;
$color-darker-hospital: #86ab8b; 
$--sm: 14px;
$--md: 16px;
$--lg: 18px;


nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid $color--very-light-pink;
  }
  .menu {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: $color--very-light-pink;
    border: 1px solid $color--white;
    padding: 8px;
    border-radius: 8px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover {
    border: 1px solid $color--hospital-green;
    color: $color--hospital-green;
  }
  .navbar-email {
    color: $color--very-light-pink;
    cursor: pointer;
    font-size: $--sm;
    margin-right: 12px;
  }
  .navbar-shopping-cart {
    position: relative;
  }
  .navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: $color--hospital-green;
    border-radius: 50%;
    font-size: $--sm;
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* menu desktop */
.desktop-menu {
position: absolute;
background: $color--white;
top: 40px;
right: 70px;
width: 100px;
height: auto;
border: 1px solid $color--very-light-pink;
border-radius: 6px;
padding: 20px 20px 0 20px;
}
.desktop-menu ul {
list-style: none;
padding: 0;
margin: 0;
}
.desktop-menu ul li {
text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
font-weight: bold;
}
.desktop-menu ul li:last-child {
padding-top: 20px;
border-top: 1px solid $color--very-light-pink;
}
.desktop-menu ul li:last-child a {
color: $color--hospital-green;
font-size: $--sm;
}
.desktop-menu ul li a {
color: $color--black;
text-decoration: none;
margin-bottom: 20px;
display: inline-block;
}

.inactive{
    display: none;
}

/* menu mobile */
.mobile-menu {
    padding: 12px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: $color--white;
  }
  .mobile-menu a {
  
    text-decoration: none;
    color: $color--black;
    font-weight: bold;
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid $color--very-light-pink;
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: $--sm;
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: $--sm;
    color: $color--hospital-green !important;
  }






/*  carrito */

aside{
    width: 360px;
   
    box-sizing: border-box;
    position: absolute;
    right: 0;
    background: $color--white;
  }

#shopping-cart{
  padding: 0 24px;
}
  .title-container {
    display: flex;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: $--md;
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: $color--text-input-field;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: $--md;
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: $color--very-light-pink;
  }
  .shopping-cart p:nth-child(3) {
    font-size: $--md;
    font-weight: bold;
  }
  .primary-button {
    background-color: $color--hospital-green;
    border-radius: 8px;
    border: none;
    color: $color--white;
    width: 100%;
    cursor: pointer;
    font-size: $--md;
    font-weight: bold;
    height: 50px;
  }

/* product list */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
  }
  .product-card {
    width: 240px;
  }
  .product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: $--md;
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info div p:nth-child(2) {
    font-size: $--sm;
    margin-top: 0;
    margin-bottom: 0;
    color: $color--very-light-pink;
  }


  /* Estilos producto detail */
  .product-detail-close {
    background: $color--white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 24px;
    left: 12px;
    z-index: 2;
    border-radius: 50%;
    .cross-icon{
      display: inline-block;
      margin-left: 5px;
      margin-top: 5px;
      width: 10px;
      height: 10px;
      background-image: url('../icons/icon_close.png');
      background-size: cover;
      background-position: center ;
      background-repeat: no-repeat;
    }
    
  }
  .product-detail-close:hover {
    cursor: pointer;
  }
  .product-detail-popup > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }
   .product-info-popup {
    margin: 24px 24px 0 24px;
  }
  .product-info-popup p:nth-child(1) {
    font-weight: bolder;
    font-size: $--md;
    margin-bottom: 4px;
  }
  .product-info-popup p:nth-child(2) {
    color: $color--very-light-pink;
    font-size: $--md;
    margin-top: 0;
    margin-bottom: 36px;
  }
  .product-info-popup p:nth-child(3) {
    color: $color--very-light-pink;
    font-size: $--sm;
    margin-top: 0;
    margin-bottom: 36px;
  }
  .primary-button {
    background-color: $color--hospital-green;
    border-radius: 8px;
    border: none;
    color: $color--white;
    width: 100%;
    cursor: pointer;
    font-size: $--md;
    font-weight: bold;
    height: 50px;
    &:hover{
      background-color: $color-darker-hospital ;
    }
  }
  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 

/* MEDIA QUERYS */
@media (max-width: 640px) {
    .menu {
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    
    .desktop-menu{
        display: none;
    }
    
    aside {
        width: 100%;
      }
    .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
    width: 140px;
    }
    .product-card img {
    width: 140px;
    height: 140px;
    }

    
    }


@media (min-width:641px){
    .mobile-menu{
        display: none;
    }
}




