
.mobile-menu {
    padding-left: 24px;
    position: absolute;
    top: 61px;
    background-color: var(--white);
    box-sizing: border-box;
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }

 @media (max-width: 640px) {
  .mobile-menu{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
  }
 }