include components/setting.pug
doctype html
html(lang="en")
	include components/head.pug
	body 
		include components/header.pug
		include components/main.pug
		include components/footer.pug
		include components/addItems.pug
	