include pug/components/setting.pug
doctype html
html(lang="en")
	include pug/components/head.pug
	body 
		include pug/components/header.pug
		include pug/components/main.pug
		include pug/components/footer.pug
	script(src="objects.js") 
	script(src="scriptUpdate.js") 
	