* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --very-light-pink:#C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green:#ACD9B2;
    --white:#FFFFFF;
    --black:#000000;
    --sm:14px;
    --md:16;
    --lg:18;
}
body{
    font-family: 'Quicksand', sans-serif;
    min-width: 320px;
}

 /*---------------CSS del Desktop Menu-------------*/
 .desktop-menu {
    display: flex;
    background: var(--white);
    justify-content: right;
    width: 140px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 45px;
    right: 73px;
    box-shadow: 1px 5px 10px var(--very-light-pink);
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
    text-align: end;
    font-weight: bold;

}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a{
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

/*-----------------Clase inactive MENUS----------------*/
.inactiveDesktopMenu {
    display: none;
}
.inactiveMobilMenu {
    display: none;
}
.inactiveShoppingCart {
    display: none;
}
.inactive-product-detail {
    display: none;
}
/*---------------CSS del nav-------------------------*/
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 20px 15px;
    border-bottom: 1px solid var(--very-light-pink);
    box-shadow: 1px 5px 10px var(--very-light-pink);
}
.iconMobilMenu {
    display: none;
}
.logo {
    width: 150px;
}
.navbar-left {
    display: flex;
}
.navbar-right .navbar-email:hover {
    cursor: pointer;
    color: var(--black);
    font-weight: bold;
}
.navbar-right .navbar-email span img {
    transform: rotate(90deg);
    padding-left: 5px;

}
.navbar-left ul li:nth-child(1) a {
    padding-left: 14px;
    padding-right: 14px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 6px;
    border-radius: 12px;

}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);

}
.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
}
.navbar-left ul {
    margin-left: 40px;
}

.navbar-shopping-cart {
    display: flex;
    /* margin-left: 13px; */
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* padding-left: 15px; */
}
.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    padding-right: 20px;
}
.navbar-shopping-cart div {
    width: 12px;
    height: 12px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: 0px;
    text-align: center;
}

/*-------CSS de mobile menu-------------*/

.mobile-menu {
    position: absolute;
    top: 45px;
    left: 0;
    padding-left: 35px;
    width: 230px;
    /* height: 624px; */
    background: var(--white);
    border-radius: 12px;
    border-bottom: 1px solid var(--very-light-pink);
    box-shadow: 1px 5px 10px var(--very-light-pink);
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
.mobile-menu ul {
    padding: 0;
    margin: 35px 0 0;
    list-style: none;
}
.mobile-menu ul li {
    margin-bottom: 30px;
}
.mobile-menu ul li .email {
    font-size: var(--sm);
    font-weight: 300;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
    margin-top: -10px;
    padding-top: 35px;
}
.mobile-menu ul:nth-child(2) {
    margin: 35px 0 50px 0;
}

.mobile-menu ul:nth-child(3) li{
    margin: 8px 0 20px 0;
}
.mobile-menu ul li .sing-out {
    font-size: var(--sm);
    color: var(--hospital-green);
    margin-top: 20px;
}

/*------------- Shopping cart icon --------------------*/
.my-order {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content: center;
    margin: 30px auto 30px auto;
    width: 320px;
    height: 80vh;
    /* justify-content: right; */
}
.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    /* height: 100%; */
    padding: 0 15px 0 15px;
    overflow: hidden;
    overflow-y: auto;
}
.shopping-cart-container{
    width: 320px;
    height: 90vh;
    background-color: var(--white);
    position: absolute;
    top: 62px;
    margin: 0 auto 0 auto;
    right: 0;
    border-radius: 20px;
    border-bottom: 1px solid var(--text-input-field);
    box-shadow: 1px 5px 10px 5px var(--text-input-field);
}
.shopping-cart-head {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 15px 0;
}
.shopping-cart-head .menu {
    cursor: pointer;
}
.shopping-cart-head .title {
    width: 320px;
    margin: 8px;
    text-align: center;
}


/* estilos para el scrollbar vertical */
.my-order-container::-webkit-scrollbar {
    width: 10px;
}

.my-order-container::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.my-order-container::-webkit-scrollbar-thumb {
    background-color: var(--hospital-green);
    border-radius: 100px;
}
/*-------------------------------------*/

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 10px;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;

}
.order p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order p span:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);

}
.order p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 15px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure {
    margin: 0;
}
.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--sm);
    font-weight: 300px;
}
.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
.shopping-footer {
    margin-bottom: 0;
}
.total {
    display: flex;
    width: 300;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: var(--md);
    font-weight: bold;
    background: var(--text-input-field);
    border-radius: 10px;
    margin: 30px 10px 30px 10px;
}
.total p:nth-child(1){
    margin-left: 15px;
}
.total p:nth-child(2){
    margin-right: 15px;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 300px;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 1px;
    margin: 0 10px 0 10px;
}

/* CSS de la Lista de Productos */
.product-card{
    width: 240px;
}
.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    margin-top: 25px;
    place-content: center;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure {
    margin: 0;
}
.product-info figure img{
    width: 30px;
    height: 30px;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

/* ---------------------------------- */

/* ESTILOS PARA EL DETALLE DEL PRODUCTO */
.product-detail {
    background: var(--white);
    position: absolute;
    top: 62px;
    right: 0;
    width: 360px;
    height: 70vh;
    border: 1px solid var(--hospital-green);
    border-radius: 0 0 10px 10px;
    /* padding-bottom: 24px; */
}
.product-detail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.product-detail-close{
    background: var(--white);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    left: 24px;
    border-radius: 50%;
    z-index: 2;
}
.product-detail-close img{
    position: absolute;
    width: 12px;
    height: 12px;
    top: 6px;
    left: 6px;
}
.product-detail-close img:hover{
    cursor: pointer;  
}
.product-information {
    display: flex;
    flex-direction: column;
    justify-items: left;
    margin: 24px 24px 24px 24px;
}
.product-information p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 32px;
    margin-bottom: 12px;

}
.product-information p:nth-child(2){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--very-light-pink);
}
.product-information p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 32px;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 1px;
    margin: 0 auto;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-to-cart-button img {
    margin-right: 10px;
}

@media (max-width: 857px){
    .iconMobilMenu {
        display: block;
        margin: 0;
    }
    .navbar-left ul,
    .navbar-email,
    .desktop-menu {
        display: none;
    }
    .logo {
        width: 100px;
    }
}

@media(max-width: 640px){
    body {
        margin: 0;
        justify-content: center;
    }
    /* @media de la lista de productos */
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 20px;
    }
    .product-card{
    width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
        border-radius: 20px;
        object-fit: cover;
    }
    /* @media del detalle del producto */
    .product-detail {
        width: 100%;
        height: 91vh;
    }

}

@media (min-width: 857px){
    .mobile-menu {
        display: none;
    }
}