:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #9c9c9c;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
  .inactive{
    display: none;
  }
  .cursorPointer{
    cursor: pointer;
  }
  /* Navbar (general)-------------------------------*/
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
  }
  .burguerMenu {
    display: none;
  }
  .logo {
    width: 100px;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
  }
  .navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
  }
  .navbar-email:hover {
    color: var(--hospital-green);
    font-weight: bold;
  }
  .navbar-shopping-cart {
    position: relative;
  }
  .navbar-shopping-cart:hover{
    transform: scale(0.9);
  }
  .navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* desktop menu -----------------------------------*/
  .desktop-menu {
    position: absolute;
    top: 60px;
    right: 60px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
  }
  .desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .desktop-menu ul li {
    text-align: end;
  }
  .desktop-menu ul li:nth-child(1),
  .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
  }
  .desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
  }
  .desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
  }
  .desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }

  /* Menu del Mobil ----------------------------------*/
  .mobile-menu {
    background-color: var(--white);
    position: absolute;
    top: 61px;
    padding: 24px;
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }
  /*detalles de productos agregados -----------------------------*/
  .shopping-cart-conatiner {
    border: var(--hospital-green) solid 2px;
    width: 360px;
    padding: 0 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    background-color: var(--white);
  }
  .title-container {
    display: flex;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: rgb(212, 242, 252);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .icon-remove-product{
    height: 20px;
    border: var(--hospital-green) solid 1px;
    border-radius: 50%;
  }
  .icon-remove-product:hover{
    transform: scale(1.2);
  }
  .my-order-content .shopping-cart figure {
    margin: 0;
  }
  .my-order-content .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .my-order-content .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .my-order-content .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .add-cards{
    position: fixed;
    width: 50px;
    height: 50px;
    border: solid var(--hospital-green) 3px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
  }
  .add-cards:hover{
    transform: scale(1.2);
  }
  .add-cards img{
    width: 40px;
    height: 40px;
  }
.cards-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
}
.product-card {
  width: 240px;
  border: solid var(--hospital-green) 2px;
  border-top-left-radius: 10%;
}
.product-card img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 240px;
  border-radius: 20px;
  object-fit: contain;
}
.product-card img:hover{
  transform: scale(1.05);
}
.product-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-top: var(--hospital-green) solid 2px;
  background-color: rgb(212, 242, 252);
}
.product-info figure {
  margin: 0;
}
.product-info figure img {
  width: 35px;
  height: 35px;
}
.product-info figure img:hover{
  transform: scale(0.9);
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

/* agregar un producto ------------------------*/
.container-add-new-itens{
  background-color: #00000085;
  height: 100vh;
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-add-new-itens p{
  font-size: 24px;
  color: var(--black);
  position: absolute;
  text-align: center;
}
.icon-close-form{
  background-color: var(--white);
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.block-add-new-itens{
  height: 600px;
  width: 300px;
  position: absolute;
  background-color: rgb(212, 242, 252);
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
form{
  margin-top: 100px;
  position: relative;
  width: 80%;
  background-color: var(--hospital-green);
  padding: 0 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}
input{
  padding: 0;
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  font-size: 15px;
  border-radius: 10px; 
}
label{
  font-size: 18px;
  display: block;
  margin: 15px 0;
}
.submit-botton{
  display: block;
  position: relative;
  bottom: -60px;
  background-color: rgb(199, 199, 199);
  font-weight: bold;
}
.submit-botton:hover{
  background-color: var(--text-input-field);
}
/* detalle de un producto ------------------*/
.product-detail {
  border: var(--hospital-green) solid 2px;
  background-color: rgb(212, 242, 252);
  width: 500px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 5%;
}
.product-detail-close {
  outline: var(--hospital-green) solid 2px;
  background: var(--white);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
}
.product-detail-close img{
  height: 20px;
}
.product-detail-close:hover{
  transform: scale(0.9);
  cursor: pointer;
}

.product-detail > img:nth-child(2) {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 360px;
  object-fit: contain;
  border-radius: 0 0 20px 20px;
}
.product-info-container{
  margin: 24px 24px 0 24px;
}
.product-info-container  p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info-container  p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}
.product-info-container  p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}
.primary-button {
  margin-bottom: 20px;
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-to-cart-button:hover{
  transform: scale(1.03);
  color: #000000;
} 
  @media (max-width: 640px) {
    .burguerMenu {
      display: block;
      cursor: pointer;
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-email {
      display: none;
    }
    .desktop-menu{
      display: none;
    }
    .shopping-cart-conatiner {
      width: 100%;
    }
    .cards-container {
      grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
      width: 140px;
    }
    .product-card img {
      width: 140px;
      height: 140px;
    }
    .product-detail {
      width: 100%;
    }
  }
  @media (min-width: 641px) {
    .mobile-menu{
        display: none;
    }
  }