/** Estilos Generales */
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #73d27f;
  --red-price: #e91d11;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.inactive {
  display: none;
}

aside {
  background-color: var(--white);
  width: 360px;
  padding: 0 24px 10px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
/** Navbar y submenu de desktop*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.logo {
  width: 100px;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover,
.navbar-email:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-email {
  cursor: pointer;
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;
}

.navbar-email:hover {
  border-color: transparent !important;
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-menu {
  position: absolute;
  top: 60px;
  right: 60px;
  background-color: var(--white);
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}
.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li {
  text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}
.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}
.desktop-menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
/**Carrito de compras*/
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

/** List de productos*/
.cards-container {
  background-color: rgb(245, 245, 245);
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
}
.product-card {
  width: 240px;
}
.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: -3px 2px 7px 1px #b3b3b3;
  cursor: pointer;
}
.main-container .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.main-container .product-info > div {
  width: 70%;
}
.main-container .product-info figure {
  margin: 0;
}
.main-container .product-info figure img {
  width: 35px;
  height: 35px;
}
.main-container .product-info div p:nth-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.main-container .product-info div p:nth-child(2) {
  font-size: var(--sm);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--red-price);
}
/**detalle del producto*/
#productDetail {
  padding: 5px 10px 15px;
}
.product-detail-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 8px;
  left: 6px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
}
.product-detail-close:hover {
  cursor: pointer;
}
.product-detail-close span {
  color: var(--white);
}
#productDetail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
#productDetail .product-info {
  margin: 24px 24px 0 24px;
}
#productDetail .product-info .product-name {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#productDetail .product-info .product-price {
  color: var(--red-price);
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 20px;
}
#productDetail .product-info .product-description {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
  height: 70px;
  overflow-x: hidden;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
/** Media query tablet-Pc*/
@media (min-width: 768px) {
  .menu {
    display: block;
  }

  .mobile-menu,
  .menu {
    display: none;
  }

  aside {
    box-shadow: -5px 6px 5px 0px rgb(221, 221, 221);
  }
}

/** Media query para mobile */
@media (max-width: 768px) {
  /**Generico*/
  .navbar-left ul,
  .navbar-email,
  .desktop-menu {
    display: none;
  }
  aside {
    width: 100%;
  }
  /** Menu de mobile */
  .mobile-menu {
    position: absolute;
    top: 60px;
    width: calc(100% - 48px);
    padding: 24px;
    background-color: var(--white);
    border-top: 1px solid var(--very-light-pink);
    transform: translateX(-26px);
    -webkit-transform: translateX(-26px);
    -moz-transform: translateX(-26px);
    -ms-transform: translateX(-26px);
    -o-transform: translateX(-26px);
    transition: transform 400ms ease-in;
    -webkit-transition: transform 400ms ease-in;
    -moz-transition: transform 400ms ease-in;
    -ms-transition: transform 400ms ease-in;
    -o-transition: transform 400ms ease-in;
  }
  .hide-menu {
    transform: translateX(-550px);
    -webkit-transform: translateX(-550px);
    -moz-transform: translateX(-550px);
    -ms-transform: translateX(-550px);
    -o-transform: translateX(-550px);
    transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 24px;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }
  /** List de productos */
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
}
