.hola {
  background-color: red;
  width: 100px;
  height: auto;
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  display: block;
}

.navbar-email:hover > div.hola {
  display: none !important;
}
