
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.inactivo{
    display: none;
}
/*  Estilos Navbar*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu {
    display: none;
}
.logo {
    width: 100px;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
}
.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}
.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilos Mobil Menu*/
.mobile-menu {
    position: absolute;
    top: 35px;
    left: 8px;
    background-color: var(--white);
    border: 1px solid var(--hospital-green);
    padding: 24px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.56);
    animation: 1s mainMobil 0s ease-in-out;
}
@keyframes mainMobil{
    0%{
        transform: translateX(-200px)
    }
    100%{
        transform: translateX(0px);
    }
    60%{
        transform: translateX(15px);
    }
    100%{
        transform: translateX(0px);
    }
}
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    transition: .7s;
    margin-bottom: 24px;
  }
  .mobile-menu ul li:hover{
    transform: scaleX(1.1);
    transition: .5s;
  }
  .email {
    font-size: var(--sm);
    font-weight: 300 !important;
  }
  .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
  }
/* Estilos Desktop Menu*/
.desktop-menu {
    position: absolute;
    top: 60px;
    right: 57px;
    background: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.56);
    animation: 1s mainDesktop 0s ease-in-out;
}    
@keyframes mainDesktop{
    0%{
        transform: translateY(-200px)
    }
    100%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}
  .navbar-email:hover{
      cursor: pointer;
      border: 1px solid var(--hospital-green);
      color: var(--hospital-green);
      border-radius: 8px;
      padding: 5px;
  }
  .desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .desktop-menu ul li {
    text-align: end;
  }
  .desktop-menu ul li:nth-child(1),
  .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
  }
  .desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
  }
  .desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
  }
  .desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }
  .desktop-menu ul li a:hover{
    transform: scale(1.1);
  }
  /* Estilos Carrito de Compras*/ 
  aside {
    position: absolute;
    border: 1px solid var(--hospital-green);
    border-radius: 20px;
    background-color: var(--white);
    top: 35px;
    right: 25px;
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.56);
    width: 360px;
    box-sizing: border-box;
    animation: 1s mainCarrito 0s ease-in-out;
    padding-bottom: 10px;
  }     
  #shoppingCartContainer{
    padding:24px;
    padding-bottom: 10px;
  }
    @keyframes mainCarrito{
    0%{
        transform: translateY(-500px)
    }
    100%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
  }
  .title-container {
    display: flex;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  /* Estilos de Productos */
  .cards-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 50px;
    place-content: center;
    margin-bottom: 80px;
  }
  .product-card {
    width: 240px;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 12px 21px 39px 5px rgba(0,0,0,0.83);
    cursor: pointer;
    transition: .7s;
    background-color: var(--white);
  }
  .product-card:active{
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 12px 21px 39px 5px rgba(172,217,178,0.83);
  }
  .product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
  }
  /* Estilos de Detalles del Producto*/
  #productDetail{
    animation: 1s mainShopping 0s ease-in-out;
  }    
  @keyframes mainShopping{
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
    60%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(0px);
    }
  }
  .product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
  }
  .product-detail-close:hover {
    cursor: pointer;
  }
  #productDetail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .product-infoCart {
    margin: 24px 24px 0 24px;
  }
  .product-infoCart p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-infoCart p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  .product-infoCart p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Estilos del Footer*/
  .container__footer{
    display: flex;
    margin-top: 50px;
    border-top: 1px dashed grey ;
    justify-content: space-around;
    margin-bottom: 30px;
    color: gray;
}
.container__footer-social{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}
.container__footer-social img{ 
    width: 30px;
}
.container__footer-temas{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.3rem;
    margin-top: 10px;
}
  .fa-thumbs-up::before{
    font-size: 3rem;
    display: flex;
    align-items: center;
}
.fa-thumbs-down::before{
    font-size: 3rem;
    display: flex;
    align-items: center;
}
.modal-body{
    color: #000;
    font-size: 1.5rem;
    text-shadow: none;
    font-weight: 700;
}
  /* Estilos para el 404 Not Found*/
  .container-404{
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  /* Media Query
  De 640px para abajo se ocultara*/
@media (max-width: 640px) {
    .menu {
    display: block;
    cursor: pointer;
    }
    .navbar-left ul {
    display: none;
    }
    .navbar-email {
    display: none;
    }
    .desktop-menu{
        display: none;
    }   
    aside {
        width: 80%;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
    aside {
      width: 80%;
      right: 10;
    }
    .container-404{
      transform: scale(.8);
    }
}
/* De 641px para arriba se ocultara*/
@media (min-width: 641px){
    .mobile-menu{
        display: none;
    }
}