/* General styles */
:root {
  --white: #FFFFFF;
  --black: #000000;
  --medium-gray: #646464;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.inactive {
  display: none;
}



/* Main nav */

.navbar {
  display: flex;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
  height: 60px;
  justify-content: space-between;
  position: fixed;
  background-color: var(--white);
  width: 100%;
  margin-top: 0;
  top: 0;
  z-index: 10;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-img{
  width: 120px;
}

.ul-nav-left {
  display: flex;
  padding: 0;
}

ul {
  margin: 0 16px;
}

.ul-nav-left li {
  list-style: none;
  padding: 0px;
  margin-bottom: 0;
  border: none;
}

.ul-nav-left li a{
  display: flex;
  float: left;
  text-align: center;
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 10px;

  &:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
  }
}

.navbar-right {
  display: flex;
  margin-right: 40px;
  align-items: center;
}

.subnav {
  float: left;
 /*  overflow: hidden; */
  list-style: none;
}

.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subnav .subnavbtn {
  font-size: var(--sm); 
  border: none;
  outline: none;
  color: var(--very-light-pink);
  margin: 0 12px 0 0 ;
  cursor: pointer;
}


.subnav-content {
  display: none;
  position: absolute;
  right: 1;
  height: auto;
  z-index: 1;  
  border: 1px solid var(--very-light-pink);
  background-color: var(--white);
  width: 142px;
}

.subnav-content a {
  /* float: ; */
  color: var(--black);
  text-decoration: none;
  list-style: none;
}

.subnav-content a:hover {
  cursor: pointer;
}

.subnav:hover .subnav-content {
  display: block;
}
/* Desktop menu */
/* .desktop-menu {
  position: absolute;
  top: 60px;
  right: 60px;
  background: var(--white);
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
} */

/* .desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* .desktop-menu ul li {
  text-align: end;
} */

/* .desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
} */

/* .desktop-menu ul li a {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
} */

/* Mobile Nav */
.mobile-menu {
  background-color: var(--white);
  position: absolute;
  top: 60px;
  left: 0;
  padding-left: 24px;
  width: calc(100% - 24px);
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px; */
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}

.sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}

/* Aside (product detail and shopping cart) */
aside {
  background-color: var(--white);
  width: 360px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}

/* ShoppingCart */
#shoppingCartContainer{
  padding: 0 24px;
}
.title-container {
  display: flex;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

/* ProductDetail */
#productDetail{
  z-index: 1;
  height: 650px;
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  height: 450px;
}

.modal-open { overflow: hidden; }
.is-hidden { display: none; }
.is-visuallyHidden { opacity: 0; }

.close {
  color: #aaaaaa;
  float: right;
  font-size: 16px;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}


.product-detail-close {
  background: var(--white);
  width: 14px;
  height: 14px;
  margin:  0 auto 10px;
/*   position: absolute;
  top: 55px;
  left: 455px; */
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-input-field);

  &:hover{
    background-color: rgb(250, 76, 76);
  }
}
.product-detail-close:hover {
  cursor: pointer;
}



#productDetail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
#productDetail .product-info {
  margin: 24px 24px 0 24px;
}
#productDetail .product-info p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
#productDetail .product-info p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}
#productDetail .product-info p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product List */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 20px;
}
.product-card {
  width: 240px;
}
.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: scale(1.03);
  }
}
.product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-card .product-info figure {
  margin: 0;
}
.product-card .product-info figure img {
  width: 35px;
  height: 35px;
}
.product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}
.product-card .product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--medium-gray);
}


/* footer */

footer{
  margin-top: 10px;
  height: 80px;
  border-top: 1px solid var(--very-light-pink);
  margin-top: 50px;
  text-align: center;
}

.logo-github {
  width: 50px;
  height: 50px;
  padding: 15px;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}

@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
}


@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-email {
    display: none;
  }

  .desktop-menu{
    display: none;
  }

  aside {
    width: 100%;
  }
}

@media (min-width: 641px) {
  .mobile-menu{
    display: none;
  }
}