:root {
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}

.menu {
    display: none;
}

.logo {
    width: 100px;
}

.inactive {
    display: none;
}

.navbar-left ul,
.navbar-right ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60px;
    list-style: none;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    padding: 8px;
    border: 1px solid var(--white);
    border-radius: 8px;
    text-decoration: none;
    color: var(--very-light-pink);
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.navbar-email {
    margin-right: 12px;
    font-size: var(--sm);
    cursor: pointer;
    color: var(--very-light-pink);
}

.navbar-shopping-cart {
    position: relative;
}

.navbar-shopping-cart div {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -3px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    align-items: center;
    background-color: var(--hospital-green);
}

.desktop-menu {
    position: absolute;
    top: 60.1px;
    right: 60px;
    padding: 20px 20px 0 20px;
    height: auto;
    width: 100px;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    background-color: var(--white);
}

.desktop-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
    font-size: var(--sm);
    color: var(--hospital-green);
}

.desktop-menu ul li a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--back);
}

.product-detail {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    padding: 24px;
    width: 360px;
    background-color: var(--white);
}

.title-container {
    display: flex;
}

.title-container img {
    margin-right: 14px;
    transform: rotate(180deg);
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
    background-color: var(--text-input-field);
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart figure {
    margin: 0;
}

.shopping-cart figure img {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.primary-button {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
    color: var(--white);
    background-color: var(--hospital-green);
}

.shoppingCart {
    cursor: pointer;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
  }
  .product-card {
    width: 240px;
  }
  .product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
  }

@media (max-width: 640px) {
    .menu {
        display: block;
        cursor: pointer;
    }

    .navbar-left ul,
    .navbar-email,
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        margin-top: 61px;
        padding: 0px;
        background-color: var(--white);
    }

    .mobile-menu a {
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        /* margin-bottom: 24px; */
    }

    .mobile-menu ul {
        margin: 24px 0 0 12px;
        padding: 0;
        list-style: none;
    }

    .mobile-menu ul:nth-child(1) {
        border-bottom: 1px solid var(--very-light-pink);
    }

    .mobile-menu ul li {
        margin-bottom: 24px;
    }

    .product-detail {
        width: 100%;
    }

    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
        margin-top: 10px;
      }
      .product-card {
        width: 140px;
      }
      .product-card img {
        width: 140px;
        height: 140px;
      }
}