.inactive {
  display: none; }

body {
  margin: 0;
  font-family: "Quicksand", sans-serif; }

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #c7c7c7; }

.menu {
  display: none;
  cursor: pointer; }

.logo {
  width: 100px; }

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px; }

.navbar-left {
  display: flex; }

.navbar-left ul {
  margin-left: 12px; }

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: #c7c7c7;
  border: 1px solid #ffffff;
  padding: 8px;
  border-radius: 8px; }

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid #acd9b2;
  color: #acd9b2; }

.navbar-email {
  cursor: pointer;
  color: #c7c7c7;
  font-size: 14px;
  margin-right: 12px; }

.navbar-shopping-cart {
  position: relative;
  cursor: pointer; }

.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: #acd9b2;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 640px) {
  .menu {
    display: block; }
  .navbar-left ul {
    display: none; }
  .navbar-email {
    display: none; }
  .desktop-menu {
    display: none; } }

@media (min-width: 641px) {
  .mobile-menu {
    display: none; } }

.desktop-menu {
  position: absolute;
  cursor: pointer;
  top: 60px;
  right: 57px;
  background-color: #ffffff;
  width: 100px;
  height: auto;
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  padding: 20px 20px 0 20px; }

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.desktop-menu ul li {
  text-align: end; }

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold; }

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid #c7c7c7; }

.desktop-menu ul li:last-child a {
  color: #acd9b2;
  font-size: 14px; }

.desktop-menu ul li a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block; }

.mobile-menu {
  position: absolute;
  top: 60px;
  padding: 24px; }

.mobile-menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  /* margin-bottom: 24px; */ }

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none; }

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid #c7c7c7; }

.mobile-menu ul li {
  margin-bottom: 24px; }

.email {
  font-size: 14px;
  font-weight: 300 !important; }

.sign-out {
  font-size: 14px;
  color: #acd9b2 !important; }

.product-detail {
  background-color: #ffffff;
  width: 360px;
  padding: 0 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0; }

.title-container {
  display: flex; }

.title-container img {
  transform: rotate(180deg);
  margin-right: 14px; }

.title {
  font-size: 18px;
  font-weight: bold; }

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: #f7f7f7;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px; }

.order p:nth-child(1) {
  display: flex;
  flex-direction: column; }

.order p span:nth-child(1) {
  font-size: 16px;
  font-weight: bold; }

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold; }

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center; }

.shopping-cart figure {
  margin: 0; }

.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover; }

.shopping-cart p:nth-child(2) {
  color: #c7c7c7; }

.shopping-cart p:nth-child(3) {
  font-size: 16px;
  font-weight: bold; }

.primary-button {
  background-color: #acd9b2;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px; }

@media (max-width: 640px) {
  .product-detail {
    width: 100%; } }

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 27px; }

.product-card {
  width: 240px; }

.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover; }

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px; }

.product-info figure {
  margin: 0; }

.product-info figure img {
  width: 35px;
  height: 35px; }

.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 4px; }

.product-info div p:nth-child(2) {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #c7c7c7; }

@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px); }
  .product-card {
    width: 140px; }
  .product-card img {
    width: 140px;
    height: 140px; } }
