* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

.portada .container-portada {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}

section {
  padding: 45px 0;
}

.container {
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.portada {
  background-image: url( 'https://images2.alphacoders.com/131/1319231.jpeg' );
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
  width: 100%;
  height: 425px;
}

.status-error {
  display: block;
  width: 100%;
  height: 65px;
  background-color: rgb(250, 134, 134);
  border-radius: 8px;
  border: 1px solid red;
  color: red;
  font-size: 16px;
  margin-bottom: 30px;
}

.msj-guardado-gatito {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 60px;
  background: #32e495;
  padding: 15px 30px;
  border-radius: 10px;
  color: #156d45;
  font-size: 18px;
  z-index: 99;
}
.msj-guardado-gatito.active {
  display: block;
}

.random-gatitos {
  position: relative;
  margin: auto;
}

.random-gatitos .main-article,
.favorites .container-favorites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
  width: 900px;
  margin: auto;
}

.random-gatitos .article,
.favorites .container-favorites article {
  overflow: hidden;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

h1, h2 {
  font-family: system-ui;
  color: #FFF;
  padding: 40px;
}
h2 {
  padding: 0 0 20px;
}

.reload {
  border: none;
  background-color: #a58afb;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  margin: 35px auto 0;
  cursor: pointer;
}
.reload:hover {
  background-color: #775ec9;
}

.img-random {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.article .img-gatitos,
.container-favorites article .img-cat-favorites {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.article .btn-favorites,
.favorites .btn-not-favorites {
  position: absolute;
  top: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 50%;
  background: #FFF;
  padding: 6px;
  cursor: pointer;
}
.btn-favorites img,
.btn-not-favorites img {
  width: 25px;
  height: 25px;
}