section
	div.close-add 
	div.block-add-new-itens
		h2 Agregar un nuevo producto a la lista
		form(action="", method="get")#form-container
			label(for="name-of-iten") Nombre del producto
			input(type="text").name-of-iten
			label(for="price-of-iten")  Precio del producto
			input(type="number").price-of-iten
			label(for="url-of-img-iten") Url del Producto
			input(type="url").url-of-img-iten
			label(for="description-of-img-iten") Descripcion del producto
			input(type="text").description-of-img-iten
			input(type="submit")
