main.main-container
	section.cards-container
	section.detail--item.inactive
		div.detail--item-info 
			div.detail--item-info__close 
			img(src="", alt="").detail--item-info__image
			div.detail--item-info__price-name
				p.window-item__price 645
				p.window-item__name fdsf
			p.detail--item-info__detail Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, vitae asperiores sunt qui soluta facere a ad distinctio ut, excepturi tempora. Cumque similique numquam excepturi, expedita suscipit adipisci veniam reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex rerum alias excepturi eveniet modi quis ducimus, quisquam, iusto earum a enim totam ipsa qui, dolorum doloremque magnam at quod ratione!
			div.detail--item-info__boton
				img(src="", alt="") 
				p Add to cart

