-var nameNav = ['All', 'Clothes', 'Electronics', 'Toys', 'Other']
-var otherNameNav = ['My orders', 'My account','platzi@example.com','Sign out']
-var iconContainer = ["", "", ""]
-var navFooter = ["Home", "Services", "About", "Terms", "Privacy Policy"]
-var contentImage = ["logo_yard_sale.svg", "icon_shopping_cart.svg", "icon_menu.svg"]