.detail--item {
  align-self: baseline;
  justify-self: flex-end;
  height: 690px;
  width: 500px;
  border: solid 4px $color-primary;
  background-color: get-opacity($color-primary, .3);
  border-bottom-left-radius: 25px;
    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 97%;
      position: relative;
      &__close {
        height: 40px;
        width: 40px;
        position: absolute;
        background-color: $color-extra;
        border: solid 2px $color-dark;
        top: 5px;
        left: 5px;
        border-radius: 20px;
        cursor: pointer;
        &::after {
          content: "";
          width: 30px;
          height: 2px;
          background-color: $color-dark;
          position: absolute;
          top: 16px;
          left: 3px;
          transform: rotate(45deg);
          border-radius: 2px;
        }
        &::before{
          content: "";
          width: 30px;
          height: 2px;
          background-color: $color-dark;
          position: absolute;
          top: 16px;
          left: 3px;
          transform: rotate(135deg);
          border-radius: 2px;
        }
        &:hover {
          background-color: $color-secondary;
        }
      }
      &__image {
        height: 60%;
        width: 90%;
        object-fit: contain;
      }
      &__detail {
        width: 90%;
        height: 140px;
        overflow-y: scroll;
      }
      &__price-name {
        width: 90%;
      }
      &__boton {
        width: 90%;
        height: 60px;
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        background-color: $color-secondary;
        border-radius: 15px;
        cursor: pointer;
        img {
          height: 50px;
          width: 50px;
        }
        p {
          margin: 0;
          font-weight: 600;
        }
        &:hover {
          background-color: $color-primary;
        }
      } 
    }
}
