-var nameNav = ['All', 'Clothes', 'Electronics', 'Toys', 'Other']
-var otherNameNav = ['My orders', 'My account','platzi@example.com','Sign out']
-var iconContainer = ["asfdas", "afdsa", "dsafd"]
-var navFooter = ["Home", "Services", "About", "Terms", "Privacy Policy"]