body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid $very-light-pink;
}
.menu {
  display: none;
  cursor: pointer;
}
.logo {
  width: 100px;
}
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: $very-light-pink;
  border: 1px solid $white;
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid $hospital-green;
  color: $hospital-green;
}
.navbar-email {
  cursor: pointer;
  color: $very-light-pink;
  font-size: $sm;
  margin-right: 12px;
}
.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: $hospital-green;
  border-radius: 50%;
  font-size: $sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .menu {
    display: block;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
}
@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }
}
