.product-detail-close {
  background: $white;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  padding: 2px;
  border-radius: 50%;
}
.product-detail-close img {
  margin: 4px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.product-detail-close:hover {
  cursor: pointer;
}
#productDetail > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
#productDetail .product-info {
  margin: 24px 24px 0 24px;
}
#productDetail .product-info p:nth-child(1) {
  font-weight: bold;
  font-size: $md;
  margin-top: 0;
  margin-bottom: 4px;
}
#productDetail .product-info p:nth-child(2) {
  color: $very-light-pink;
  font-size: $md;
  margin-top: 0;
  margin-bottom: 36px;
}
#productDetail .product-info p:nth-child(3) {
  color: $very-light-pink;
  font-size: $sm;
  margin-top: 0;
  margin-bottom: 36px;
}
.primary-button {
  background-color: $hospital-green;
  border-radius: 8px;
  border: none;
  color: $white;
  width: 100%;
  cursor: pointer;
  font-size: $md;
  font-weight: bold;
  height: 50px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
