.product-body {
background-color: var(--white);
  position: absolute;
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    border-radius: 8px;
  }
  .product-detail-main-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
  }
  .product-detail-main-close:hover {
    cursor: pointer;
  }
  .product-detail-main .product-body > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 8px 8px 20px 20px;
  }
  .product-detail-main .product-body .product-info {
    margin: 24px 24px 0 24px;
  }
  .product-detail-main .product-body .product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-detail-main .product-body .product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  .product-detail- .product-body .product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
  }
  .product-detail-main .product-body .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }
  .product-detail-main .product-body .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    background-color: rgb(0 0 0 / .5);
}
