body {
  background-color:indigo;
  color:#fff;
  font-family:Verdana,Geneva,Tahoma,sans-serif;
  margin:0;
  padding:0
}
.game-container {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  height:100vh;
  width:100vw
}
.fin-juego {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  width: 100vw;
  height: 100vh;
  background: rgba(12, 12, 12, .95);
  position: absolute;
  backdrop-filter: blur(2px);
}
.active {
  display: flex;
}
.fin-juego div {
  font-size: 60px;
}
.fin-juego p {
  text-align: center;
  font-size: 30px;
}
.game-restart {
  width: 150px;
}
canvas {
  border:4px solid #f60;
  border-radius:8px;
  background-color:#feff9d
}
.group-btn {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:0 auto;
  width:100%
}
button {
  background-color:#fdef05;
  border-radius:8px;
  border-color:#f60;
  font-family:inherit;
  margin:0;
  padding:5px 20px;
  width:100px;
  cursor: pointer;
}
button:not(:last-child) {
  margin-right:10px
}
.messages {
  display:flex;
  flex-wrap:wrap;
  margin:0 auto;
  width:80%;
  max-width:460px
}
p {
  display:block;
  margin:0;
  width:100%
}
@media(max-width:440px) {
  button {
    margin-top:5px
  }
  #up,#down {
    margin-left:100%;
    margin-right:100%
  }
}