:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --hospital-green-force: #5edd6f;
    --hospital-green-force-n: #2e6636;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}

/* ------------------------------------ BARRA DE NAVEGACION ---------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: var(--white);
}

.menu {
    display: none;
    cursor: pointer;
}

.logo {
    width: 100px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
}

.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}

.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visual-number-detail {
    background-color: var(--hospital-green);
}

/* --------------------------- COMPONENTE VENTANA DE INICIO DE SESIÓN -------------------------------- */

.desktop-menu {
    position: absolute;
    right: 60px;
    top: 60px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

/* --------------------------- COMPONENTE MENÚ LATERAL DE MÓVIL -------------------------------- */

.mobile-menu {
    padding-left: 24px;
    width: calc(100% - 24px);
    position: absolute;
    position: fixed;
    left: 0px;
    top: 60px;
    background-color: var(--white);
    border-bottom: 1px solid var(--very-light-pink);
    overflow: auto;
    z-index: 10;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}

.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.email {
    font-size: var(--sm);
    font-weight: 300 !important;
}

.sign-out {
    font-size: var(--sm);
    color: var(--hospital-green) !important;
}

/* --------------------------- COMPONENTE MENÚ LATERAL DE MÓVIL -------------------------------- */

.product-detail {
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    position: fixed;
    right: 0;
    top: 40px;
    background-color: var(--white);
}

.title-container {
    display: flex;
}

.title-container > img, p {
    cursor: pointer;
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
}

#order-content-product {
    overflow: auto;
    padding-right: 10px;
    max-height: 350px;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}

.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart figure {
    margin: 0;
}

.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.button-active:hover {
    background-color: var(--hospital-green-force);
    border: 1px solid var(--hospital-green-force-n);
}

/* --------------------------- ASIDE DE DETALLE DE PRODUCTO -------------------------------- */
.product-detail-one {
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    position: fixed;
    top: 60px;
    right: 0;
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 20px;
    z-index: 1;
    overflow: auto;
}

.product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}

.product-detail-close:hover {
    cursor: pointer;
}

.container-detail-main {
    overflow: auto;
}

.product-detail-one .container-detail-main > img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 20px;

}

.product-info-detail {
    margin: 24px 24px 0 24px;
    display: flex;
    flex-direction: column;
}

.product-info-detail p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info-detail p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 20px;
}

.product-info-detail p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 20px;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------- COMPONENTE PRODUCTOS DE HOME -------------------------------- */

.cards-container {
    margin: 20px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.product-card {
    width: 240px;
    padding: 5px;
    border-radius: 20px 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.377);
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info button {
    margin: 0;
    background-color: #00000000;
    border: 0px solid;
}

.product-info button img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
    text-overflow: ellipsis;
    overflow: hidden;
}


/* --------------------------------------- PAGINATION --------------------------------------- */

.base-pagination ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.base-pagination ul li button {
    text-decoration: none;
    color: var(--very-light-pink);
    background-color: transparent;
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
    margin: 0 5px 0 5px;
    font-size: 16px;
}
.base-pagination ul li button:hover {
    border: 1px solid #ACD9B2;
    color: #ACD9B2;
}
.active-pag {
    border: 1px solid #ACD9B2;
    color: #ACD9B2;
}

/* --------------------------------------- MEDIAS QUERYS --------------------------------------- */

@media (max-width: 740px) {
    .menu {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }

    .desktop-menu {
        display: none;
    }

    .product-detail {
        width: 100%;
    }
    /* --------------------------------------- productos --------------------------------------- */
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .product-card {
        width: 140px;
    }

    .product-card img {
        width: 140px;
        height: 140px;
    }
    .product-detail-one {
        right: 0;
        left: 0;
        margin: auto;
    }
    .product-info div p:nth-child(2) {
        max-height: 100px;
        max-width: 100px;
    }
    .container-detail-main {
        overflow: auto;
        max-height: 410px;
        width: 100%;
    }
}

@media (min-width: 741px) {
    .mobile-menu {
        display: none;
    }
    .product-info div p:nth-child(2) {
        max-height: 100px;
        max-width: 200px;
    }
    .container-detail-main {
        overflow: auto;
        max-height: 560px;
    }
}